<div class="post">
<div class="post_title"><h1><%= link_to post.title, post_path(post) %></h1></div>
<div class="meta">Published <%= post.published_at.strftime "%Y-%m-%d" %></div>
<div class="post_body storycontent">
<%= post.body %>
</div>
</div>

