<% if @post -%>
<p>
Post: <%=h @post.title %>
</p>
<% elsif @blog -%>
Blog: <%=h @blog.name %>
<% end -%>

<ol>
<% for comment in @comments do -%>
<li><%= comment.title || comment.body %><% unless @post %> (<%= link_to comment.post.title, post_path(comment.post) %>)<% end %></li>
<% end -%>
</ol>
