<%
  if @title
-%><h3>Posts for tag <%=h @title %> (<%= 
  link_to_function "Close", update_page {|page| page.visual_effect(:fade, "post_#{ @post.id }_taginfo", :duration => 0.2)} 
%>)</h3>
<% 
  end 
-%>
<%= render :partial => "post_list", :locals => {:posts => @posts} %>
